.main__chatbody {
    flex-grow: 1;
    background-image: linear-gradient(to bottom right, #9C7536, #000000 70%);    
    padding: 15px 20px;
    display: flex;
    /* width: 500px; */
    /* width: 100%; */
  }
  